:root {
    --p-dark: rgb(11, 26, 44);
    --p-yellow: #fff126;
    --p-dark-yellow: #dac402;
    
}
.navbar{
    background-color: var(--p-yellow);
    padding: 1.2rem;
    columns: var(--p-dark);
    font-weight: bold;
}
a{
    text-decoration: none;
    padding: 1.2rem;
    font-size: large;


}
body {
    background-color: var(--p-dark);
    color: var(--p-yellow);
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    
    /* width: 50%; */
}